<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>커뮤니티 > 취업정보</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <link rel="stylesheet" href="/greendae/css/community/employment.css">
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:replace="~{inc/_header}"></th:block>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        커뮤니티   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">취업정보</span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:replace="~{inc/community/sidebar}"></th:block>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>취업정보</p>
                    </div>
                    <div class="main_content_detail">
                        <!-- 작성할 내용 시작-->
                        <nav>
                            <form action="">
                                <select name="searchType" style="padding: 6px;">
                                    <option value="title">전체</option>
                                    <option value="title">제목</option>
                                    <option value="content">내용</option>
                                    <option value="writer">글쓴이</option>
                                </select>
                                <input type="text" name="keyword" placeholder="검색 키워드 입력">
                                <input type="submit" value="검색">
                            </form>
                        </nav> 
                        

                        <table>                    
                            <tr>
                                <th>번호</th>
                                <th>상태</th>
                                <th>업체</th>
                                <th>채용정보</th>
                                <th>마감일</th>
                                <th>조회</th>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><span>모집중</span></td>
                                <td>정석수학학원</td>
                                <td>고등 1학년 수학 (공통수학)만 지도 가능한 …</td>
                                <td>24.04.09 12:00</td>
                                <td>160</td>
                            </tr>
                        </table>

                        <div class="page">
                            <a href="" class="first"><img src="/greendae/images/btn-first-page.png" alt=""></a>
                            <a href="" class="prev"><img src="/greendae/images/btn-prev-page.png" alt=""></a>
                            <a href="" class="num">1</a>
                            <a href="" class="next"><img src="/greendae/images/btn-next-page.png" alt=""></a>
                            <a href="" class="last"><img src="/greendae/images/btn-last-page.png" alt=""></a>
                        </div>
                            <a href="" class="btn btnWrite">글쓰기</a>
                    
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <th:block th:replace="~{inc/_footer}"></th:block>
        <!-- 푸터 끝-->
    </div>
</body>
</html>