<header>
    <div>
        <div>
            <p>
                <a href="#">HOME |</a>
                <a href="#">사이드맵 |</a>
                <a href="#">로그인 |</a>
                <a href="#">학생지원</a>
            </p>
        </div>
    </div>
    <div>
        <div>
            <a href="#">
                <img src="/greendae/images/header_logo.png" alt="그린대학교">
            </a>
            <nav>
                <ul>
                    <li><a th:href="@{/intro/greetings}">대학소개</a></li>
                    <li><a href="#">입학안내</a></li>
                    <li><a th:href="@{/info/education}">대학·대학원</a></li>
                    <li><a th:href="@{/academic/registration}">학사안내</a></li>
                    <li><a th:href="@{/campus/club_study}">대학생활</a></li>
                    <li><a th:href="@{/community/notice}">커뮤니티</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>