<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대학대학원>공과대학</title>
    <link rel="stylesheet" href="/greendae/css/layout/layout.css">
    <link rel="stylesheet" href="/greendae/css/info/info.css">    
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작작-->
        <th:block th:replace="~{inc/_header}"></th:block>
        <!-- 헤더 끝-->
        <!-- 메인 시작작-->
        <main>
            <div class="background">
                <div>
                    <span style="margin-top: 10px;">
                        <img src="/greendae/images/ico-home.png" alt="HOME">
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        대학·대학원   
                        <img src="/greendae/images/bg-path-arrow.png" alt=">">
                        <span style="color: #071F4B;">공과대학 </span>
                    </span>
                </div>
            </div>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:replace="~{inc/info/sidebar}"></th:block>
                <!-- 오른쪽 글 -->
                <article class="main_content">
                    <div class="main_title">
                        <p>공과대학</p>
                    </div>
                    <div class="main_content_detail">
                        <!-- 작성할 내용 시작-->                        
                        <img src="/greendae/images/college-introduce-3.jpg" alt="" style="float: left;">
                        <div class="social_tit" style="float: left; margin-left: 15px;">
                            <p>
                                Engineering<br>
                        
                                <span>기본 공학교육 및 산업현장과 연계된 산학협동을 위한<br>학문을 교수ㆍ연구</span><br>
                                
                                공과대학은 지역 및 국가산업을 선도할 창의적이고 생산적인 전문기술인을 양성하기 위하
                                여 기본 공학교육의 강화,전공교육의 심화 및 산업현장과 연계된 산학협동의 활성화를 실현
                                할 관련학문을 교수, 연구하는데 교육목표를 둔다.
                            </p>

                        </div>
                            
                        <p>
                            <img src="/greendae/images/bullet-h4.png" alt="" style="margin-right: 5px; margin-bottom: 4px; ">
                            학부 및 학과
                        </p>

                        <table>                    
                            <tr>
                                <th>학과/전공</th>
                                <th>학과장</th>
                                <th>학과 사무실 번호</th>
                                <th>비고</th>
                            </tr>
                            <tr>
                                <td>기계공학과</td>
                                <td>김기계</td>
                                <td>051-123-3001</td>
                                <td></td>
                            </tr>
                        </table>
                        
                    
                    </div>  
                </article>
            </section>
        </main>
        <!-- 메인 끝-->
        <!-- 푸터 시작작-->
        <th:block th:replace="~{inc/_footer}"></th:block>
        <!-- 푸터 끝-->
    </div>
</body>
</html>